@model INVEON.Dtos.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-heading" style="font-size:large"><b>Ürün Adı: </b>@Model.Name</div>
	<div class="panel-body" style="background:whitesmoke">
		<div class="row">
			<div class="col-lg-4">
				<img alt="" src="@Model.Image"  style="height:200px;width:200px;"/>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3"><b>Barkod:</b> @Model.Barcode</div>
					<div class="col-lg-3"><b>Açıklama:</b> @Model.Description</div>
					<div class="col-lg-3"><b>Fiyat:</b>@Model.Price</div>
					<div class="col-lg-3"><b>Stok Adedi:</b>@Model.InStock</div>
				</div>
			</div>
		</div>
	</div>
</div>
