@model INVEON.Dtos.ViewModels.ProductUpdateViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-body">

		@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { @class = "nav-login-form" }))
		{
			@Html.HiddenFor(m => m.Id);
		
		<div class="col-lg-3">
			<img alt="" src="@Model.Image" style="height:200px;width:200px;" />
		</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Image)
				<input type="file" name="ImageData" id="ImageData" />
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Barcode)
				@Html.TextBoxFor(m => m.Barcode, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Name)
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Description)
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Price)
				@Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Instock)
				@Html.TextBoxFor(m => m.Instock, new { @class = "form-control" })
			</div>
			
			<div class="form-group">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary active">
						@Html.RadioButtonFor(m => m.IsActive, new { @class = "form-control" }) Aktif
					</label>
					<label class="btn btn-primary">
						@Html.RadioButtonFor(m => m.IsActive, new { @class = "form-control" }) Pasif
					</label>
				</div>
			</div>

			<button type="submit" class="btn btn-info">Güncelle</button>
		}

	</div>
</div>
