@model INVEON.Dtos.ViewModels.UserLoginViewModel
@{
	Layout = "../Shared/_Layout.cshtml";
}
@if (TempData["Error"] != null)
{
	<div class="alert alert-danger" role="alert">@TempData["Error"]</div>

}
<div class="alert alert-info" role="alert">Yönetici İçin | Kullanıcı Adı: admin Şifre: 12345</div>

<div class="panel panel-default">
	<div class="panel-body">

		@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "nav-login-form" }))
		{
			<div class="form-group">
				@Html.LabelFor(m => m.UserName)
				@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Kullanıcı Adı" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Parola" })
			</div>
			<button type="submit" class="btn btn-default">Giriş</button>

		}

	</div>
</div>